@import url('https://fonts.googleapis.com/css2?family=Abel&family=Archivo&family=Marcellus+SC&family=Montserrat&family=Mukta:wght@300&family=Noto+Sans+Thai+Looped&family=Ysabeau+SC:wght@500&display=swap');
/* 
Bleu profond (#001233), rouge corail clair (#FF595A), beige (CAC0B3#) 
*/
body {
    font-family: 'Noto Sans Thai Looped', sans-serif;
    background-color: #CAC0B3 !important;
}
nav {
    font-family: 'Noto Sans Thai Looped', sans-serif;
}
.container{
    margin-top: 20px;
}

.card-header strong {
    color: #FF595A;
}

.starsimg{
    height: 250px;
    width: 100%;
    object-fit: cover;
    display: block;
    background-color: #001233;
}

.annonce-title{
    padding: 2em;
    background-size: cover;
    margin-bottom: 50px;
    background-position: center center;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}

.annonce-title h1, .annonce-title p{
    text-shadow: 3px;
    font-family: 'Noto Sans Thai Looped', sans-serif;
}

.carousel-item img{
    margin-top: 50px;
    height: 600px;
    object-fit: cover;
    min-width: 90vh !important;
}

.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.full{
    min-height: 70vh;
}

.avatar{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

avatar-medium{
    max-width: 64px;
    max-height: 64px;
}

avatar-mini{
    max-width: 24px;
    max-height: 24px;
}

h1.display-4 {
    margin: 50px 50px 50px 50px;
}

.annonce-title{
    min-height: 90vh;
}

.footer{
    background-color: #001233;
}

.col-md-12{
    margin-top: 70px;
}

.car-cover-image{
    min-height: 90vh;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    font-family: 'Noto Sans Thai Looped', sans-serif;
    padding: 2em;
    background-size: cover;
    margin-bottom: 50px;
    background-position: center center;
}
.car-cover-image h1{
    color: white !important;
}
.car-cover-image h2{
    margin-top: 50px;
    color: white !important;
}
.car-cover-image p{
    margin-top: 50px;
    font-family: 'Noto Sans Thai Looped', sans-serif;
    color: white;
}


.col-md-12 ul li{
    margin-top: 30px;
}

.car-cover-image strong{
    color: #FF595A !important;
}

.footer{
    font-family: 'Noto Sans Thai Looped', sans-serif;
    color: #001233;
    background-color: #CAC0B3;
    font-size: 20px;
}

.btn btn-outline-danger {
    font-size: 28px;
}

.card-title,
.card-header{
    color: #CAC0B3 !important;
}

.text-light {
    margin-top: 20px !important;
}
.card-text img {
    max-width: 64px !important;
    max-height: 64px !important;
    
}